<div class="tabb__box">
    {% for tabb_item in tabb_items %}
    <div class="tabb">
        <h2 class="lable">{{tabb_item.tabb_name}}</h2>
        <div class="tabb__conteiner">
            <p class="tabb_text">{{tabb_item.tabb_text}}</p>
        </div>
    </div>
    {% endfor %}



    <div class="tabb">
        <h2 class="lable">Нажми меня и я откроюсь1</h2>
        <div class="tabb__conteiner">
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Consectetur provident error iste, natus sed nesciunt? Lorem ipsum dolor sit amet consectetur adipisicing elit. Exercitationem harum illum fugit. Mollitia fugiat cupiditate quos qui exercitationem in. Dignissimos harum non libero repellendus deserunt nemo? Facere commodi possimus tempore quibusdam, voluptatem id. Placeat aliquam ex eum error est repellendus nihil cumque modi maxime sunt neque rem quod vero accusamus, culpa exercitationem adipisci natus voluptates dicta consequuntur dolorem corporis at! Est obcaecati vel tempora autem sapiente enim modi nemo iure dolorem optio, impedit sunt explicabo sint corrupti amet numquam debitis harum minus quasi provident! Vero dicta adipisci qui hic cum amet rem minima commodi, unde ipsum perferendis autem necessitatibus asperiores!</p>
        </div>
    </div>
    <div class="tabb">
        <h2 class="lable">Нажми меня и я откроюсь2</h2>
        <div class="tabb__conteiner">
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Consectetur provident error iste, natus sed nesciunt? Lorem ipsum dolor sit amet consectetur adipisicing elit. Exercitationem harum illum fugit. Mollitia fugiat cupiditate quos qui exercitationem in. Dignissimos harum non libero repellendus deserunt nemo? Facere commodi possimus tempore quibusdam, voluptatem id. Placeat aliquam ex eum error est repellendus nihil cumque modi maxime sunt neque rem quod vero accusamus, culpa exercitationem adipisci natus voluptates dicta consequuntur dolorem corporis at! Est obcaecati vel tempora autem sapiente enim modi nemo iure dolorem optio, impedit sunt explicabo sint corrupti amet numquam debitis harum minus quasi provident! Vero dicta adipisci qui hic cum amet rem minima commodi, unde ipsum perferendis autem necessitatibus asperiores!</p>
        </div>
    </div>
    <div class="tabb">
        <h2 class="lable">Нажми меня и я откроюсь3</h2>
        <div class="tabb__conteiner">
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Consectetur provident error iste, natus sed nesciunt? Lorem ipsum dolor sit amet consectetur adipisicing elit. Exercitationem harum illum fugit. Mollitia fugiat cupiditate quos qui exercitationem in. Dignissimos harum non libero repellendus deserunt nemo? Facere commodi possimus tempore quibusdam, voluptatem id. Placeat aliquam ex eum error est repellendus nihil cumque modi maxime sunt neque rem quod vero accusamus, culpa exercitationem adipisci natus voluptates dicta consequuntur dolorem corporis at! Est obcaecati vel tempora autem sapiente enim modi nemo iure dolorem optio, impedit sunt explicabo sint corrupti amet numquam debitis harum minus quasi provident! Vero dicta adipisci qui hic cum amet rem minima commodi, unde ipsum perferendis autem necessitatibus asperiores!</p>
        </div>
    </div>
    <div class="tabb">
        <h2 class="lable">Нажми меня и я откроюсь4</h2>
        <div class="tabb__conteiner">
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Consectetur provident error iste, natus sed nesciunt? Lorem ipsum dolor sit amet consectetur adipisicing elit. Exercitationem harum illum fugit. Mollitia fugiat cupiditate quos qui exercitationem in. Dignissimos harum non libero repellendus deserunt nemo? Facere commodi possimus tempore quibusdam, voluptatem id. Placeat aliquam ex eum error est repellendus nihil cumque modi maxime sunt neque rem quod vero accusamus, culpa exercitationem adipisci natus voluptates dicta consequuntur dolorem corporis at! Est obcaecati vel tempora autem sapiente enim modi nemo iure dolorem optio, impedit sunt explicabo sint corrupti amet numquam debitis harum minus quasi provident! Vero dicta adipisci qui hic cum amet rem minima commodi, unde ipsum perferendis autem necessitatibus asperiores!</p>
        </div>
    </div>
    <div class="tabb">
        <h2 class="lable">Нажми меня и я откроюсь5</h2>
        <div class="tabb__conteiner">
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Consectetur provident error iste, natus sed nesciunt? Lorem ipsum dolor sit amet consectetur adipisicing elit. Exercitationem harum illum fugit. Mollitia fugiat cupiditate quos qui exercitationem in. Dignissimos harum non libero repellendus deserunt nemo? Facere commodi possimus tempore quibusdam, voluptatem id. Placeat aliquam ex eum error est repellendus nihil cumque modi maxime sunt neque rem quod vero accusamus, culpa exercitationem adipisci natus voluptates dicta consequuntur dolorem corporis at! Est obcaecati vel tempora autem sapiente enim modi nemo iure dolorem optio, impedit sunt explicabo sint corrupti amet numquam debitis harum minus quasi provident! Vero dicta adipisci qui hic cum amet rem minima commodi, unde ipsum perferendis autem necessitatibus asperiores!</p>
        </div>
    </div>
</div>