@charset "UTF-8";
@font-face {
  font-family: Heebo;
  font-display: swap;
  src: url("../fonts/Heebo-Black.woff2") format("woff2"), url("../fonts/Heebo-Black.woff") format("woff");
  font-weight: 900;
  font-style: normal;
}
@font-face {
  font-family: Heebo;
  font-display: swap;
  src: url("../fonts/Heebo-Bold.woff2") format("woff2"), url("../fonts/Heebo-Bold.woff") format("woff");
  font-weight: 700;
  font-style: normal;
}
@font-face {
  font-family: Heebo;
  font-display: swap;
  src: url("../fonts/Heebo-Medium.woff2") format("woff2"), url("../fonts/Heebo-Medium.woff") format("woff");
  font-weight: 500;
  font-style: normal;
}
@font-face {
  font-family: Heebo;
  font-display: swap;
  src: url("../fonts/Heebo-Regular.woff2") format("woff2"), url("../fonts/Heebo-Regular.woff") format("woff");
  font-weight: 400;
  font-style: normal;
}
@font-face {
  font-family: "icons";
  src: url("../fonts/icons.woff?flu6qk") format("woff");
  font-weight: normal;
  font-style: normal;
  font-display: block;
}
[class^=icon-]::before, [class*=" icon-"]::before {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: "icons" !important;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-close:before {
  content: "\e90d";
}

.icon-arrow-right:before {
  content: "\e900";
}

.icon-arrow-left:before {
  content: "\e901";
}

.icon-youtube:before {
  content: "\e902";
}

.icon-twitter:before {
  content: "\e903";
}

.icon-whatsapp:before {
  content: "\e904";
}

.icon-pinterest:before {
  content: "\e905";
}

.icon-instagram:before {
  content: "\e906";
}

.icon-facebook:before {
  content: "\e907";
}

.icon-mail:before {
  content: "\e908";
}

.icon-measuring:before {
  content: "\e909";
}

.icon-sofa:before {
  content: "\e90a";
}

.icon-ruler:before {
  content: "\e90b";
}

.icon-icon_menu:before {
  content: "\e90c";
}

* {
  padding: 0;
  margin: 0;
}

*, *::before, *::after {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

html, body {
  font-family: "Montserrat", sans-serif;
  color: #363838;
  height: 100%;
  width: 100vw;
  font-size: 100%;
  min-width: 320px;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

ul li {
  list-style: none;
}

h1, h2, h3, h4, h5, h6 {
  font-size: inherit;
}

.wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  width: 100%;
  min-height: 100%;
  background-color: rgb(255, 255, 255);
}

.container {
  max-width: 1140px;
  margin: 0 auto;
  padding: 0 15px;
  width: 100%;
}

.page {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 auto;
          flex: 1 1 auto;
}

.title {
  font-weight: 700;
  font-size: 44px;
  line-height: 1.3636363636;
}

.btn {
  background-color: #FF6464;
  border-radius: 2px;
  height: 47px;
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: center;
  padding: 0 20px;
  font-style: normal;
  font-weight: 500;
  font-size: 20px;
}
